main{
    margin: 50px auto;
}
.container{
    margin:  100px auto;
    max-width: 600px;
    z-index: -10;
    box-shadow: 0  0 5px #7e050e;
    backdrop-filter: blur(5px);
    border-radius: 25px;
    padding: 50px 25px;
}
form{
    width: 90%;
    margin: auto;
}
 form .title{
    display: block;
    margin-bottom: 8px;
    font-size: 30px;
    font-weight: 500;
    margin: 6px 0;
    color: #fff;
    text-shadow: 0 0 10px #000;
}
form .title::after{
    content: "";
    display: block;
    width: 150px;
    border-bottom: 3px solid #7e050e;
    margin: 5px 0 15px 0;
}

.form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
form .fields .input-field{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 4px 0;
}
.input-field label{
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    text-shadow: 0 0 10px #000;
    transition: all .1s ease;
}
.input-field:hover label{
    padding-left: 5PX;
    border-left: 2px solid #7e050e;
}
.input-field input, select{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    width: 100%;
    margin: 8px 0;
}
input::placeholder {
    color: #fff;
}
select>option{
    background-color: #fff;
    color: black;
}

.input-field input,
.input-field select
{
    background-color: #4747475b;
    color: white;
}
.input-field input:focus,
.input-field select:focus{
    transition: all .3s ease-in-out;
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
    border: 2px solid #7e050e;

}


/* \\ Anchor Tags //  */

.input-field a{
    color: #fff;
    transition: all .2s ease;
    text-align: right;
    margin-top: 5px;
    text-shadow: 0 0 5px #000;
}

.input-field a:hover{
    font-weight: bold;
    color: #7e050e;
    /* text-shadow: 0 0 5px #fff; */
    padding-right: 5px;
    border-right: 3px solid #7e050e;
}

/* Buttons CSS Style  */
/* ////////////////////// */
form button{
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px 0;
    background-color: #7e050e;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
form .btnText{
    font-size: 14px;
    font-weight: 400;
}
form button:hover
{
    background: linear-gradient( #7e050e, #521212);
}
